  <div class="carousel-container">
 
    <i class="bi bi-chevron-compact-left" (click)="previousImage()"></i>
    <img [src]="images[currentIndex]" alt="Listing Image" class="carousel-image">
    <i class="bi bi-chevron-compact-right" (click)="nextImage()"></i>
    <div *ngIf="listings[currentIndex]?.isFavourite" class="favourate-icon">
      <i class="bi bi-heart-fill"></i>
      </div>
      
    <div class="carousel-info">
      <h2>{{ listings[currentIndex].title }}</h2>
      <p>{{ listings[currentIndex].description }}</p>
      <div class="button-container">
        <button (click)="markAsFavorite(listings[currentIndex].id)" class="markAsFavourate">            
          {{ listings[currentIndex].isFavourite ? 'Remove Favorite' : 'Mark as Favorite' }}
        </button>
        <button (click)="viewDetails(listings[currentIndex].id)" class="viewDetail">View Details</button>
      </div>
    </div>
  </div>