   <header class="app-header">
    <nav class="app-header__nav">
      <div class="app-header__nav-left">
        <button class="app-header__button" (click)="goHome()">Home</button>
      </div>
      <div class="app-header__nav-right">
        <button class="app-header__button" (click)="openLogin()">Login</button>
        <button class="app-header__button" (click)="openRegister()">Register</button>
        <button class="app-header__button" (click)="logout()">logout</button>
      </div>
    </nav>
  </header>
  