.home-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .listing-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .listing-header {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .listing-content {
    margin-bottom: 15px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  .carousel-image {
    max-width: 80%;
    max-height: 100%;
    width: 200px;
    height: 180px;
    margin: 0 auto;
  }
  .markAsFavourate{
    margin: 0 10px;
    padding: 10px 12px;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .viewDetail{
    padding: 10px 15px;
    width: 125px;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  button {
    padding: 10px 15px;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .listing-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .search-filter {
    margin-bottom: 20px; 
  }
  
  .filter-group {
    margin: 10px 0; 
  }
  
  .filter-group label {
    display: block; 
  }
  
  .listing-item {
    display: inline-block; 
    width: 30%; 
    margin: 10px; 
    text-align: center; 
  }
  .pagination {
    display: flex;
    justify-content: center; 
    gap: 8px; 
    margin-top: 16px; 
  }
  
  .pagination button {
    padding: 8px 12px;
    font-size: 16px;
  }
  